@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    /* position: fixed; */
    display: flex;
    color: #244C8E;
    background: rgba(227, 231, 237, 0.9);
    padding: 10px 100px;
    justify-content: space-around;
    width: 100%;
    min-width: 1200px;
}

.container__1 {
    background: linear-gradient(124.64deg, rgba(33, 76, 227, 0.5) 0%, rgba(67, 110, 221, 0.5) 47.4%, rgba(173, 57, 214, 0.5) 100%);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    width: 100%;
    background-image: url('../images/bg.jpg');
    height: 100vh;
}

a {
    text-decoration: none;
    color: #244C8E;
    margin-left: 10px;
}

.cities {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacts {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.online {
    background: #4ED401;
    border-radius: 2px;
    color: white;
    padding: 4px;
}

hr {
    border: 1px solid #D8DEEA;
    width: 90%;
    margin: 0 auto;
}

.lang a {
    text-transform: uppercase;
    background-color: #244C8E;
    color: white;
    border-radius: 2px;
    padding: 4px;
}


/* menu */

nav {
    display: block;
    align-self: center;
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.menu>li {
    position: relative;
    display: inline-block;
}

a.menu-link {
    display: none;
    padding: 0.7em 0;
}

.nav__child {
    padding: 0px;
    position: absolute;
    max-height: 0em;
    overflow: hidden;
    text-align: left;
    left: -90px;
}

.nav__child li {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    padding: 2px 6px;
    border-radius: 0px 0px 2px 2px;
}

.nav__child a {
    margin: 0;
    white-space: nowrap;
    line-height: 2em;
    padding: 4px 14px;
    border: none;
}

.primary_nav_wrap {
    width: 300px;
}

.nav__child a:hover {
    color: #18bfff;
}

.nav__child li:last-child {
    padding: 4px 3px 10px 3px;
    display: flex;
}

li:hover .nav__child {
    max-height: 30em;
    border-top: 10px solid rgba(255, 255, 255, 0);
    width: 220px;
}

.nav__header {
    display: block;
    cursor: pointer;
    position: relative;
    background-color: #244C8E;
    color: white;
    padding: 4px 12px;
    border-radius: 2px;
    text-transform: uppercase;
}

.heart {
    width: 10px;
    position: relative;
    top: 35%;
    left: 90%;
    margin-right: 6px;
}

.contacts img {
    width: 14px;
    margin-left: 15px;
}


/* menu */

ul img {
    width: 50%;
    display: block;
}

hr {
    width: 60%;
    margin: 0;
}

.main {
    font-family: 'Open Sans', sans-serif;
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 120px;
}

.main__menu {
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    color: #244C8E;
    justify-content: space-between;
}

p {
    font-size: 14px;
}

.intro__wrapper {
    display: flex;
}

.year {
    background-color: #4ed401;
    color: white;
    display: inline-block;
    margin: 0px 8px;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 2px;
}

.intro__inner p {
    font-weight: bold;
    font-size: 40px;
    color: #4ED401;
    padding: 15px 0 25px 0;
}

.intro__inner {
    width: 50%;
    margin: 64px 37px 64px 0px;
}

.intro__inner img {
    width: 70%;
}

button {
    /* не хочет кушать  */
    border-radius: 10px solid;
}

.btn {
    background: #4ED401;
    border: 1px solid #4ED401;
    color: white;
    padding: 12px 13px 8px 26px;
    text-align: center;
    font-weight: bold;
    transition: .1s;
    margin: 25px 0;
}

.map {
    width: 50%;
    position: relative;
}

.map__inner img {
    width: 100%;
}

.map__city {
    display: flex;
    align-items: center;
}

.map__city__kiev {
    position: absolute;
    top: 100px;
    left: 260px;
}

.map__city__kharkiv {
    position: absolute;
    top: 133px;
    left: 443px;
}

.map__city__dnepr {
    position: absolute;
    top: 185px;
    left: 398px;
}

.map__city__odessa {
    position: absolute;
    top: 251px;
    left: 257px;
}

.map__city img {
    width: 20px;
    margin-right: 3px;
}

.statistics {
    margin: 0 auto;
}

.statistics__1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D8DEEA;
}

.statistics__wrapper__1 {
    width: 50%;
}

.inline {
    display: inline-block;
    color: white;
}

.inline__3 {
    display: inline-block;
    color: white;
    vertical-align: top;
}

.inline__img {
    display: inline-block;
    color: white;
    vertical-align: middle;
}

.inline__wrapper__3 {
    display: inline-block;
    width: 33%;
    margin: 20px 0px;
}

.inline__wrapper__3 img {
    width: 100px;
}

.inline__1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.statistics__wrapper__1 li {
    list-style-type: none;
}

.statistics__wrapper__3 li {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-self: center;
}

.amount__icon {
    width: 120px;
}

.plus {
    background-color: #4ed401;
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 7px;
}

.plus_2 {
    background-color: #4ed401;
    color: white;
    font-size: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 7px;
}

.green {
    color: #4ED401;
    font-weight: bold;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.six {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

.green__1 {
    color: #4ED401;
    font-weight: bold;
    font-size: 30px;
}

.inline__1 span {
    font-size: 12px;
}